<span <%= test "dummy" %>>1</span>
<span <%= test "dummy", 1 %>>1</span>
<span <%= test  %>>1</span>

<span test-selector="<%= test_selector "dummy" %>">2</span>
<span test-selector="<%= test_selector %>">2</span>
